<% if @message %>
  <div class="alert alert-danger">
    <%= @message %>
  </div>
<% end %>
<%= render 'single_share' %>
<div class="row">
  <aside class="col-md-1">
  </aside>
  <article class="col-md-11 comment-section">
    <small class="share-nav add-comment"><%= link_to "Add Comment", new_share_comment_path(@share.id) %></small>
    <%= render 'comment_index' %>
  </article>
</div>
