// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.btn-primary {
  background-color: #052364;
  border-color: #052364;
}

.comment-block {
  margin-left: 20px;
}
.single-comment {
  padding: 5px;
  small {
    color: rgb(148, 148, 148);
    font-weight: lighter;
    padding-left: 5px;
  }
}
.comment-section {
  margin-left: 140px;
  border-top: 1px solid rgb(260, 260, 260);
  padding-top: 20px;
  dt {
    font-size: 13px;
    padding-bottom: 5px;
  }
}

span.comment-date-circle {
  margin-right: 15px;
  margin-top: 6px;
  background-color: #026577;
  color: white;
  border-radius: 250px;
  width: 40px;
  height: 40px;
  font-size: 10px;
  padding-top: 5px;
  padding-left: 13px;
  p {
    margin: 0px;
    text-align: center;
  }
  p.date-month {
    margin-left: -2px;
    font-size: 11px;
    font-weight: bold;
  }
  p.date-day {
    margin-left: 3px;
  }
}
textarea#comment_body {
  width: 500px;
}

@media (max-width: 768px) {
  .comment-section {
    margin-left: 80px;
  }
}
